/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2017, 10:07:14 AM
    Author     : darkingw
*/

.section {
    border: 2px solid #777;
    padding: 60px;
    background-color: gold;
    font-size: larger;
}

@media screen and (min-width: 400px) {
    .section {
        background-color: lightcoral;
    }
}

@media screen and (min-width: 600px) {
    .section {
        background-color: greenyellow;
    }
}

@media screen and (min-width: 800px) {
    .section {
        background-color: aqua;
    }
}